.box {
    padding: 5%;
    text-align: left;
    font-size: xx-large;
    font-family: "Courier New", "Courier New", Monospace;
    display: inline-flex;
}
.content {
    padding-left: 7%;
    padding-right: 32%;
    text-align: left;
    font-size:  normal;
    font-family: "Courier New", "Courier New", Monospace;
    line-height: 2;
    position: relative;
}
.container img{
    width: 300px;
    height: 420px;
    position: fixed;
    top: 37%;
    left: 65%;
}
.about {
    margin: auto auto;
}