.box {
    color: #302B27;
    padding-top: 15%;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    font-family: "Courier New", "Courier New", Monospace;
}

.h1 {
    text-align: center;
}
.content {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-size:  normal;
    font-family: "Courier New", "Courier New", Monospace;
    line-height: 2;
    position: relative;
}
.about {
    margin: auto auto;
}