body {
  background-color: #F5F3F5;
  padding: 50px;
  margin: 0;
  font-family: "Courier New", "Courier New", Monospace;
}

h1, h2, p, ul, li {
  font-family: "Courier New", "Courier New", Monospace;
}

.next {
  font-size: large;
  font-weight: bold;
  color: #274690;
  text-decoration: underline;
}
/*
0C0032
*/