body {
  background-color: whitesmoke;
  padding: 50px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: "Courier New", "Courier New", Monospace;
}
ul.sidebar li {
  display: inline;
  list-style-type: none;
}
ul.sidebar li a {
  color: #FFF;
  font-size: x-large;
  text-decoration: none;
  padding: 45px;
  display: inline-block;
  font-weight: bold;
}

ul.sidebar {
  background-color: #282828;
  text-align: center;
}

h1 {
  position: relative;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
ul.sidebar li a:hover {
  color: yellowgreen;
  
}
.active {
  background-color: navy;
}
/*
0C0032
*/